{% extends 'header.html' %}

  {% block content %}
      <div class="country-clubs">
        <h2 id="title">Clubs by country</h2>
        <div class="country">
          <div>
            <h3><a href="./countries/england.html">England</a> <br /></h3>
            <h3><a href="./countries/italy.html">Italy</a> <br /></h3>
            <h3><a href="./countries/france.html">France</a> <br /></h3>
            <h3>
              <a href="./countries/netherlands.html">Netherlands</a> <br />
            </h3>
            <h3><a href="./countries/ukraine.html">Ukraine</a> <br /></h3>
            <h3><a href="./countries/argentina.html">Argentina</a> <br /></h3>
          </div>
          <div>
            <h3><a href="./countries/spain.html">Spain</a> <br /></h3>
            <h3><a href="./countries/germany.html">Germany</a> <br /></h3>
            <h3><a href="./countries/portugal.html">Portugal</a> <br /></h3>
            <h3><a href="./countries/brazil.html">Brazil</a> <br /></h3>
            <h3><a href="./countries/russia.html">Russia</a> <br /></h3>
            <h3><a href="./countries/other.html">Other</a> <br /></h3>
          </div>
        </div>
      </div>
      <div class="latest-transfers">
        <div class="countries">
          <a href="{% url 'clubs' %}"> CLUBS </a>
          <a href="{% url 'latest_transfers' %}"> LATEST TRANSFERS </a>
          <a href="{% url 'players' %}"> PLAYERS </a>
          <a href="{% url 'u_20_players' %}"> U-20 PLAYERS </a>
          <a href="./tryouts.html"> TRYOUTS </a>
          <a href="./stats.html"> STATS </a>
        </div>
      </div>
  {% endblock %}
