{% extends 'header.html' %}
    {% block content %}
        <hr>
        <h2><a href="#">Transfers archive</a></h2>
      </div>
      <div class="nav">
        <h2>– TRANSFERS ARCHIVE –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content">
        <div class="stats">
          {% for i in transferlar %}
          <div>
            <a href="{% url 'mavsum' i.mavsum|slice:':2' %}"> season 20{{i.mavsum}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endblock %}